<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      festivo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Día festivo</ion-title>
    </ion-toolbar>
  </ion-header>

 
<ion-item>
  <ion-label>Fecha</ion-label>
  <ion-datetime displayFormat="YYYY MMMM DD"
  max='2100-12-31'
  placeholder="Selecciona fecha"
  (ionChange)="calcular_festivo($event)"
  done-text="Aceptar"
  cancel-text="Cancelar"
  ></ion-datetime>
</ion-item>


<ion-text color="primary">
  <h2>{{label_festivo}}</h2>
</ion-text>


</ion-content>
